<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12 row-header">
      <h2>About</h2>  
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 row-content">
      &nbsp&nbsp&nbsp&nbsp Many Android users have several retired Android phones in a drawer, while a newer phone serves as 
their daily go-to device. But as these retired devices remain packed with valuable tools like 
cameras and sensors, many of these users would benefit from software to repurpose these devices for 
useful tasks. The Redroid project aims to provide a flexible toolset to unlock the full utilization 
of an Android phone's hardware, providing new usefulness to otherwise obsolete devices. Examples 
include: a home security camera, GPS tracker, open garage door detector, bicycle rear-view camera, 
and many more.
    </div>
  </div>
</div>