<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12 row-header">
      <h2>Contact</h2>  
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 row-content">
      <div class="row">
        <div class="col-lg-6">
          <p>
           Redroid consists of 4 team members pursuing Computer Science degrees at the University of Utah. Ordered from left to right are...
          </p>
          <ol>
            <li>
              <b>Derek Hugh Johnson</b>
                <ul>
                  <li>djohnson69@redroid.net</li>
                </ul>
            </li>
            <li>
              <b>Greg "Greg's Gonna Greg" Smith</b>
                <ul>
                  <li>gsmith420@redroid.net</li>
                </ul>
            </li>
            <li>
              <b>Matt Madden</b>
                <ul>
                  <li>mmaddenn@redroid.net</li>
                </ul>
            </li>
            <li>
              <b>Scott Wells</b>
                <ul>
                  <li>swells_@redroid.net</li>
                </ul>
            </li>
          </ol>
        </div>
        <div class="col-lg-6">
          <%= image_tag "redroid_team.jpg", id: "team-image" %>
        </div>
      </div>
    </div>
  </div>
</div>