<div class="col-lg-12">
  <h1>
    <%= image_tag "bot_light_slate_blue.png", size: "212x250" %>
    Redroid
  </h1>
  <h3 align="center"><b>Re</b>droid <b>D</b>oes <b>R</b>epurposed, <b>O</b>pen, <b>I</b>nterconnected <b>D</b>evices</h3>
  <ul class="list-inline" align="center">
    <li>
      <%= link_to "About", "#about-row" %>
    </li>
    <li>
      <%= link_to "Tutorial", "#tutorials-row" %>
    </li>
    <li>
      <%= link_to "Contact", "#contact-row" %>
    </li>
  </ul>
</div>