<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12" align="center">
      <h1>
        <%= image_tag "logo_slate_sky.png" %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3 align="center">
        <b>Re</b>droid <b>D</b>oes <b>R</b>epurposed, <b>O</b>pen, <b>I</b>nterconnected <b>D</b>evices
      </h3>    
    </div>
  </div>
  <div class="row">
    <ul class="list-inline" align="center">
      <li>
        <%= link_to "About", "#about-row" %>
      </li>
      <li>
        <%= link_to "Tutorial", "#tutorials-row" %>
      </li>
      <li>
        <%= link_to "Contact", "#contact-row" %>
      </li>
    </ul>
  </div>
</div>