<div id="video-table">
  <table class="table-striped">
    <thead>
      <th>
        Video Name:
      </th>
      <th>
        Size:
      </th>
    </thead>
      <% get_device_directory(locals[:deviceid]).each do |video| %>
      <tr>
          <td>
            <%= link_to(video[:name], download_path(device: "#{locals[:deviceid]}", file: video[:name], target: "_self")) %>
          </td>
          <td>
            <%= video[:size].to_s %> MB
          </td>
        </tr>
        <% end %>
  </table>
</div>