// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$bg-color: #FFF4F1;
$font-color: #09286B;
$row-header-color:  #338E8B;
$row-bg-color: #7C91BD;
$border-radius-val: 15px;

$tutorial-row-header: #AB3310;
$tutorial-row-content: #EB876A;
//$tutorial-content-font: #430F00;
$tutorial-content-font: #FFF4F1;

$about-row-header: #0F4B6C;
$about-row-content: #487A95;
//$about-content-font: #011C2B;
$about-content-font: #FFF4F1;

$contact-row-header: #0B793E;
$contact-row-content: #4BA675;
//$contact-content-font: #003016;
$contact-content-font: #FFF4F1;

#index-body{
  background-color: $bg-color;
  // background-image: image-url("campus_fall.jpg");
  // background-repeat: no-repeat;
  // background-size: 1024px 576px;
  // background-position: top;
  color: black;
  font-size: 18px;
  line-height: 200%;
  h2 {
    font-size: 50px;
    text-align: center;
  }

  a {
    font-size: 20px;
  }
  
  h3 {
    font-size: 25px;
  }

  .row {
   
  }

  .col-lg-12 {

  }
  .row-header {
    background-color: $font-color;
    border-radius: $border-radius-val $border-radius-val 0px 0px;
    color: $bg-color;
    padding: 1px;
  }

  .row-spacer{
    min-height: 80px;
  }

  .row-content {
    min-height: 100px;
    border-radius: 0px 0px $border-radius-val $border-radius-val;
    padding: 20px;
    margin-top: 0px;
  }
  
  #title-row{
    img {
      max-width:100%;
      max-height:100%;
    }
  }
  
  
  #tutorials-row {
    .row-header {
      background-color: $tutorial-row-header;
    }
    .row-content {
      background-color: $tutorial-row-content;
      color: $tutorial-content-font;
    }

    button {
      padding: 20px 40px;
      color: black;
      background-color: $tutorial-row-header;
      border-radius: $border-radius-val $border-radius-val $border-radius-val $border-radius-val;
    }

    .tutorial-video{
      width: 100%;
      height: 100%;
    }

    .bike-cam-video{
      max-height: 500px;
    }
  }

  #about-row{
    .row-header {
      background-color: $about-row-header;
    }
    .row-content {
      background-color: $about-row-content;
      color: $about-content-font;
    }
  }

  #contact-row {
    .row-header {
      background-color: $contact-row-header;
    }
    .row-content {
      background-color: $contact-row-content;
      color: $contact-content-font;
    }
    #team-image {
      max-width: 100%;
    }
    a {
      color: $bg-color;
    }
  }
}